body {
    font-family: 'Inter', sans-serif;
    background-color: #4a5568;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    .main-container {
        max-width: 960px;
        height: auto;
        min-height: 80vh;
    }
}
